.card {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
  padding: 20px;
  text-align: center;
  max-width: 260px;
  display: inline-block;
  margin: 5em auto;
}

.card .card-image {
  max-width: 60%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}

.card .card-title {
  font-family: Arial, sans-serif;
  margin: 0;
  color: rgba(0, 0, 0, 0.8);
}

.card .card-text {
  font-family: Arial, sans-serif;
  color: rgba(0, 0, 0, 0.9);
}

.student {
  font-family: Arial, sans-serif;
  font-sixe: 2em;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.8);
  max-width: 300px;
  margin: 10px auto;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}

.student p {
  margin: 0;
}

.welcome-message {
  font-size: 2.5em;
  background-color: #22ff22;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 0 auto;
}
.login-prompt {
  font-size: 2.5em;
  background-color: red;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 0 auto;
}

.centered {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.list {
  width: 300px;
}

.profile-picture-container {
  height: 200px; /* Set a fixed height */
  width: 200px;  /* Set a fixed width if needed */
  overflow: hidden; /* Hide overflow content when the image is hidden */
  cursor: pointer; /* Change cursor to pointer on hover for better UX */
}

.profile-picture-container img {
  width: 100%; /* Make sure the image takes up 100% width of the container */
}

.profile-picture-container.hidden {
  display: none; /* Hide the container when the image is hidden */
}
